<?xml version="1.0" encoding="utf-8" ?>

<configuration>

   <!-- The locations will be filtered every interval in case FileSystemWatcher misses a file. -->
   <filterinterval seconds="600" />
   
   <locations>
      <!-- type: folder or registry. -->
      <!-- Watch specifically for new .lnk shortcut files being created. -->
      <location type="Folder" path="%AppData%\Microsoft\Windows\Recent" watch="*.lnk">
         <!-- This type of filter applies specifically to the Recents folder and not any other locations. -->
         <!-- 
            type="Shortcut" - makes the rule apply to the target of the shortcut instead of the name of the shortcut. 
            include: if the shortcuts TargetPath matches the rule, it will be deleted. 
            exclude: is applied after include. Here it's empty because we want to include all* files and exclude none that match the target. 
          -->
         <filter type="Shortcut" include="*search-ms:displayname*" exclude="" />
         <filter type="Shortcut" include="X:\*" exclude="" />
         <filter type="Shortcut" include="*.torrent" exclude="" />
      </location>
<!--todo: C:\Users\Derek\AppData\Roaming\Microsoft\Windows\Recent\AutomaticDestinations-->
      <!--todo: C:\Users\Derek\AppData\Roaming\Microsoft\Windows\Recent\CustomDestinations-->
      <!--https://tzworks.net/prototype_page.php?proto_id=20-->
      <!--https://github.com/EricZimmerman/Lnk/tree/master/Lnk-->
      <!--https://github.com/CodeCavePro/OpenMCDF-->
   </locations>

   <filters>
      <!--
         location: selects which location paths the rule applies to. 
      -->
      <!--This rule applies to all locations.  All torrent files in the locations will be removed. -->
      <filter type="FileName" location="*" include="*.torrent*" exclude="" />
      <filter type="FileName" location="*" include="{*-*-*-*-*}" />  

   </filters>

</configuration>
